@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Silkscreen&display=swap');

*{
    --bg_color: white;
    --font_color: #111;
    --default_font: 'Hedvig Letters Serif', serif;
    --hightlight_color_1: #8B786D;
    --heading_font: 'Hedvig Letters Serif', serif;
}