.defn{
	border-left: .2rem solid var(--hightlight_color_1);
	box-sizing: border-box;
	padding: .5rem 2rem .5rem 1.2rem;
}

.defn .defn_declaration{
	display: inline;
}

.defn > div > .defn_declaration + p{
	display: inline;
}