<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Gruppen</title>
	<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/global_vars.css">
	<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/section_main.css">
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<script src="<%- CONF.host %>/js/section_init.js"></script>

	
	
	
</head>
<body>

<!-- %%- include("../../general/page_top") %>

< %%- include("../../general/fixed_sidecontent", {
	top: {
		href: "#",
		name: "Startseite"
	},
	main: {
		href: null,
		name: "Rechner",
		children: [{
			href: "/r/Integrieren",
			name: "Integrieren"	
		},{
			href: "#",
			name: "Integrieren"	
		}]
	}
}) %% -->

<div id="main-wrapper">
	<div class="main-content">
		<h1 id="title">Gruppen</h3>
		
			<div class="box content-box">
				<div class="anchor" id="#content_section1anchor"></div>
				<h3 class="topic">1. Gruppen und Untergruppen</h3>
				
					<p class="text_section">Der Begriff einer Gruppe gehört zu den grundlegensten Strukturen der gesamten</p>
				
					<p class="text_section">Mathematik und spielt eine wichtige Rolle bei der Beschreibung von Symmetrien</p>
				
					<p class="text_section">in der Natur. Wir erinnern kurz an die</p>
				
					<style>.defn{
	border: 5px solid purple;
}</style><div class="defn">
    <h4>Definition</h4>
    <div>
        
            <p class="text_section">Eine <i>Gruppe</i> ist ein Paar (G, ◦) bestehend aus einer Menge G und</p>
        
            <p class="text_section">einer Verknüpfung:</p>
        
            <p class="text_section">$$
    ◦ : G × G −→ G
$$</p>
        
            <p class="text_section">sodass gilt:</p>
        
            
    <ol>



    <li>Neutrales Element: Es gibt ein e ∈ G mit e ◦ g = g ◦ e = g für alle g ∈ G.</li>

    <li>Assoziativität: Es ist (g ◦ h) ◦ k = g ◦ (h ◦ k) für alle g, h, k ∈ G.</li>

    <li>Inverse: Zu jedem g ∈ G existiert ein g−1 ∈ G mit g ◦ g−1 = g−1 ◦ g = e.</li>
	


    </ol>

        
            <p class="text_section">Die Gruppe heißt <i>kommutativ</i> oder <i>abelsch</i>, wenn a ◦ b = b ◦ a für alle a, b ∈ G ist.</p>
        	
    </div>
</div>
				
					<p class="text_section">Das neutrale Element einer Gruppe bezeichnet man auch als Einselement und</p>
				
					<p class="text_section">schreibt e = 1 ∈ G. Für die Verknüpfung werden oft auch andere Symbole benutzt,</p>
				
					<p class="text_section">je nach Kontext schreibt man statt a ◦ b auch a · b, a • b oder einfach ab. Nur im Fall</p>
				
					<p class="text_section">abelscher Gruppen wird auch die additive Notation + verwendet, in diesem Fall</p>
				
					<p class="text_section">wird das neutrale Element mit 0 ∈ G bezeichnet und heißt Nullelement.</p>
				
					<style>.bsp{
	border: 5px solid green;
}</style><div class="bsp">
    <h4>Example</h4>
    <div>
        
            <p class="text_section">Erinnern wir uns an einige Beispiele aus der linearen Algebra:</p>
        
            
    <ol>



    <li>Die additiven Gruppen (Z, +), (Q, +), (R, +), . . . sind abelsch.</li>

    <li>Die multiplikativen Gruppen Q× = (Q\{0}, ·), Q×>0 = (Q>0, ·), . . . sind abelsch.</li>

    <li>Die allgemeine lineare Gruppe GLn(Q) = { A ∈ Matn×n(Q) | det(A) 6 = 0 } mit der Matrizenmultiplikation als Verknüpfung ist für n > 1 nicht abelsch.</li>

    <li>Die symmetrische Gruppe Sn := { Bijektive Abbildungen σ : {1, . . . , n} → {1, . . . , n} }</li>
	


    </ol>

        	
    </div>
</div>
				
			</div>
		
	</div>
</div>