<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Gruppen</title>
	<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/global_vars.css">
	<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/section_main.css">
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<script src="<%- CONF.host %>/js/section_init.js"></script>

	
	
	
</head>
<body>

<!-- %%- include("../../general/page_top") %>

< %%- include("../../general/fixed_sidecontent", {
	top: {
		href: "#",
		name: "Startseite"
	},
	main: {
		href: null,
		name: "Rechner",
		children: [{
			href: "/r/Integrieren",
			name: "Integrieren"	
		},{
			href: "#",
			name: "Integrieren"	
		}]
	}
}) %% -->

<div id="mc-wrapper">
	<div id="main-content">
		<h1 id="title">Gruppen</h1>
		
			<div class="content_box">
				<div class="anchor" id="#content_section1anchor"></div>
				<h3 class="topic">1. Gruppen und Untergruppen</h3>
				
					<p class="text_section">Der Begriff einer Gruppe gehört zu den grundlegensten Strukturen der gesamten Mathematik und spielt eine wichtige Rolle bei der Beschreibung von Symmetrien in der Natur. Wir erinnern kurz an die</p>
				
					<style>.defn{
	border-left: .2rem solid var(--hightlight_color_1);
	box-sizing: border-box;
	padding: .5rem 2rem .5rem 1.2rem;
}

.defn .defn_declaration{
	display: inline;
}

.defn > div > .defn_declaration + p{
	display: inline;
}</style><div class="defn">
    <div>
        <h4 class="defn_declaration">Definition.</h4> 
            <p class="text_section">Eine <i>Gruppe</i> ist ein Paar \( (G, \circ) \) bestehend aus einer Menge \( G \) und einer Verknüpfung:</p>
        
            <p class="text_section">$$
    \circ : G \times G \rightarrow G
$$</p>
        
            <p class="text_section">sodass gilt:</p>
        
            
    <ol>



    <li>Neutrales Element: Es gibt ein \( e \in G \) mit \( e \circ g = g \circ e = g \) für alle \( g \in G \).</li>

    <li>Assoziativität: Es ist \( (g \circ h) \circ k = g \circ (h \circ k) \) für alle \( g, h, k \in G \).</li>

    <li>Inverse: Zu jedem \( g \in G \) existiert ein \( g^{-1} \in G \) mit \( g \circ g^{-1} = g^{-1} \circ g = e \).</li>
	


    </ol>

        
            <p class="text_section">Die Gruppe heißt <i>kommutativ</i> oder <i>abelsch</i>, wenn \( a \circ b = b \circ a \) für alle \( a, b \in G \) ist.</p>
        	
    </div>
</div>
				
					<p class="text_section">Das neutrale Element einer Gruppe bezeichnet man auch als Einselement und schreibt \( e = 1 \in G \). Für die Verknüpfung werden oft auch andere Symbole benutzt, je nach Kontext schreibt man statt \( a \circ b \) auch \( a \cdot b \), \( a \bullet b \) oder einfach \( ab \). Nur im Fall abelscher Gruppen wird auch die additive Notation \( + \) verwendet, in diesem Fall wird das neutrale Element mit \( 0 \in G \) bezeichnet und heißt Nullelement.</p>
				
					<style>.bsp{
	border-left: .2rem dotted var(--hightlight_color_1);
	box-sizing: border-box;
	padding: .5rem 2rem .5rem 1.2rem;
}

.bsp .bsp_declaration{
	display: inline;
}

.bsp > div > .bsp_declaration + p{
	display: inline;
}</style><div class="bsp">
    <div>
        <h4 class="bsp_declaration">Beispiel.</h4> 
            <p class="text_section">Erinnern wir uns an einige Beispiele aus der linearen Algebra:</p>
        
            
    <ol>



    <li>Die additiven Gruppen \( (\mathbb{Z}, +) \), \( (\mathbb{Q}, +) \), \( (\mathbb{R}, +) \), . . . sind abelsch.</li>

    <li>Die multiplikativen Gruppen \( \mathbb{Q}^\times = (\mathbb{Q}\setminus\{0\}, \cdot) \), \( \mathbb{Q}^\times_{>0} = (\mathbb{Q}_{>0}, \cdot) \), . . . sind abelsch.</li>

    <li>Die allgemeine lineare Gruppe </li>
	


    </ol>

        
            <p class="text_section">$$ 
        \text{GL}_n(\mathbb{Q}) = \{ A \in \text{Mat}_{n \times n}(\mathbb{Q}) | \det(A) \neq 0 \} 
    $$
 </p>
        
            <p class="text_section">mit der Matrizenmultiplikation als Verknüpfung ist für \( n > 1 \) nicht abelsch.</p>
        
            
    <ol>



    <li>Die symmetrische Gruppe \( S_n := \{ \text{Bijektive Abbildungen } \sigma : \{1, \ldots, n\} \rightarrow \{1, \ldots, n\} \} \)</li>
	


    </ol>

        	
    </div>
</div>
				
					<script>{
const id = get_uid();
document.write(`<div id="${ id }" class="hoi"></div>`);

const el = document.getElementById(id);

const child = document.createElement('span');
child.textContent = 'Click me!';
el.appendChild(child);

el.addEventListener("click", () => {
console.log("Element clicked!");
});

}</script>
				
					<style>.hoi{
border-radius: .5rem;
margin-top: 2rem;
background-color: var(--hightlight_color_1);
padding: .4rem 1rem;
cursor: pointer;
color: white;
width: min-content;
white-space: nowrap;
}
</style>
				
			</div>
		
	</div>
</div>
